@*мастер макет для всех страниц*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title> TestWebsite</title>
</head>
<body>
    <div>
        <h1> My first test Razor Pages with Metanit.com</h1>
        @RenderBody() @*вставляет содержимое*@
    </div>
    <div> 2021 - Andrew</div>
</body>
</html>
